.ib-layout {
  *zoom: expression(this.runtimeStyle.zoom='normal',this.insertBefore(document.createElement('before'),this.firstChild));
}
.ib-layout > before {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 0;
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
}
.ib-layout:before {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 0;
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
  content: '';
}
.ib-before {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 0;
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
}
.ib-header,
.ib-content,
.ib-footer {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  margin-left: -100%;
}
.ib-header {
  margin-left: 0;
}
.ib-header,
.ib-content {
  vertical-align: top;
}
.ib-footer {
  vertical-align: bottom;
}
.ib-middle > .ib-content {
  vertical-align: middle;
}
.ib-bottom > .ib-content {
  vertical-align: bottom;
}
